.idea
__pycache__
.python-version
.venv
/app/files/temp
/app/files/.env
/app/files/test_pd.py
/app/files/test_str.py
/app/files/middleware.logs
/app/files/file_table.txt
/app/files/count_requests.txt
